#quote-box {
    width: 400px;
    height: 200px;
    background-color: white;
    border-radius: 7px;
    margin: 150px auto 0 auto;
    padding: 40px;
    
  }
  #text, #quote-author {
    color: rgb(122, 74, 14)
  }
  #text {
    text-align: center;
    font-size: 20px;
    margin-bottom: 50px;
  }
  #quote-author {
    font-family: Tahoma;
    margin-top: 40px;
    text-align: right;
  }
  #action {
    margin-top: 50px;
  }
  #new-quote {
    margin-right: 25%;
    width: 100px;
    height: 25px;
    border-radius: 4px;
    background-color: rgba(122, 74, 14, 0.8);
    color: white;
    font-weight: bold;
  }
  #tweet-quote {
    margin-left: 10%;
    background-color: rgba(122, 74, 14, 0.3);
  }
  img {
    width: 40px;
  }